@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  box-shadow: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font: inherit;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

address {
  font-style: normal;
}

input,
input[type=text],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: transparent;
}

input {
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@font-face {
  font-family: "Etica";
  font-display: swap;
  src: url("../fonts/LFTEticaCnd-Light.woff2") format("woff2"), url("../fonts/LFTEticaCnd-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Etica";
  font-display: swap;
  src: url("../fonts/LFTEticaCnd-Regular.woff2") format("woff2"), url("../fonts/LFTEticaCnd-Regular.woff") format("woff");
  font-weight: 400;
}
body {
  font-family: "Etica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  background-color: #0a0e11;
  color: #fff;
  min-height: 100vh;
}

.main {
  overflow-y: auto;
  padding: 32px 30px 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: calc(100vh - 80px);
  background-image: linear-gradient(200deg, #1e2429 0%, #0a0e11 100%);
}

.title {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
}

.btn {
  position: relative;
  min-width: 160px;
  padding: 16px 64px;
  font-size: 18px;
  text-align: center;
  border-radius: 25px;
  text-transform: uppercase;
  background-image: linear-gradient(-90deg, rgba(24, 132, 213, 0.5) 0%, rgba(115, 13, 166, 0.5) 100%);
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-image: linear-gradient(-90deg, #1884d5 0%, #730da6 100%);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.btn--empty {
  font-weight: 300;
  text-transform: none;
  background-image: linear-gradient(90deg, rgba(24, 132, 213, 0.5) 0%, rgba(115, 13, 166, 0.5) 100%);
  padding: 12px;
}
.btn--empty::after {
  background-image: none;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: #0a0e11;
  left: 2px;
  top: 2px;
  opacity: 1;
}
.btn--empty:hover {
  background-image: linear-gradient(90deg, #1884d5 0%, #730da6 100%);
}
.btn span {
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.btn--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-image: linear-gradient(90deg, #1884d5 0%, #730da6 100%);
  pointer-events: none;
}
.btn--disabled::after {
  opacity: 1;
}
.btn--grey {
  background-image: none;
  background-color: #424242;
}
.btn:hover::after {
  opacity: 1;
}

.item {
  border-radius: 15px;
  background-color: #1e2429;
  box-shadow: 0px 0px 10px 2px rgba(10, 14, 17, 0.2);
  padding: 24px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto 32px;
  display: flex;
  align-items: center;
}
.item__icon {
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  margin-right: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-image: linear-gradient(166deg, #730da6 40%, #1884d5 100%);
}
.item__icon span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.item__info {
  margin-right: 24px;
}
.item__subtitle {
  font-size: 22px;
  margin-bottom: 8px;
  opacity: 0.9;
}
.item__desc {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0.6;
}
.item__desc a {
  text-decoration: underline;
  color: #f700ff;
  font-weight: 400;
  margin: 0 3px;
}
.item__btn {
  margin-left: auto;
}
.item__check {
  position: relative;
  margin-left: auto;
}
.item__check input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.item__check label {
  display: inline-block;
  height: 32px;
  width: 64px;
  border-radius: 25px;
  background-color: #0c0f11;
  position: relative;
  transition: background-color 0.3s;
}
.item__check label::after {
  content: "";
  height: 32px;
  width: 32px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, white 0%, #cfcfcf 30%, #949494 100%);
  transition: left 0.3s;
}
.item__check input:checked + label {
  background-color: #730da6;
}
.item__check input:checked + label::after {
  left: 32px;
}
.item__link {
  margin-top: 16px;
  color: #f700ff;
  text-decoration: underline;
  font-weight: 300;
  letter-spacing: 1px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  width: 40px;
  height: 40px;
  background-color: #1758b9;
  margin-right: 8px;
}
.logo__text {
  font-size: 24px;
  width: 90px;
  overflow: hidden;
  transition: width 0.3s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  100% {
    transform: scale(1.08);
  }
}
.menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.menu--settings .menu__item {
  padding: 30px 0;
}
.menu--settings .menu__item:hover .menu__btn {
  animation: none;
  transform: scale(1);
}
.menu--settings .menu__item:active {
  transform: scale(1);
}
.menu--settings .menu__btn {
  background-image: none;
  height: auto;
  width: auto;
  font-size: 16px;
}
.menu__item {
  display: flex;
  padding: 15px 0;
  position: relative;
  transition: transform 0.3s;
}
.menu__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: calc(100% - 10px);
  height: 2px;
  background-color: transparent;
  border-radius: 2px;
  transition: background-color 0.3s;
}
.menu__item.active::after {
  background-color: #1758b9;
}
.menu__item.active .menu__btn {
  color: #fff;
}
.menu__item:hover .menu__btn {
  animation: 0.5s ease pulse;
  transform: scale(1.08);
  color: rgba(255, 255, 255, 0.8);
}
.menu__item:hover .header__desc {
  opacity: 1;
  top: 65px;
}
.menu__item:active {
  transform: scale(0.9);
}
.menu__item:not(:last-child) {
  margin-right: 24px;
}
.menu__btn {
  background-image: url(../img/icons/icons.svg);
  height: 50px;
  width: 50px;
  background-position: -165px -6px;
  background-size: 1225%;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s;
}

.header {
  background-color: #0a0e11;
  position: relative;
}
.header__nav {
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
.header__back {
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 100%;
  transition: background-color 0.3s;
  margin-right: 16px;
}
.header__back::before, .header__back::after {
  content: "";
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  left: 7px;
  bottom: 11.5px;
}
.header__back::after {
  transform: rotate(-45deg);
  bottom: auto;
  top: 11.5px;
}
.header__back:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.header__desc {
  position: absolute;
  z-index: 1000000;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, top 0.3s;
}
.header__desc::after {
  content: "";
  border: 5px solid transparent;
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.header__settings {
  padding: 25px 0 25px 100px;
  width: 130px;
  height: 80px;
  background-image: url(../img/icons/settings.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.header__settings .header__desc {
  top: 50px;
  transform: translateX(50%);
  left: auto;
  right: 15px;
}
.header__settings:hover {
  opacity: 1;
}
.header__settings:hover .header__desc {
  opacity: 1;
  top: 60px;
}

.profile__inner {
  position: relative;
}
.profile__circle {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.profile__circle path {
  filter: none !important;
}
.profile__num {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}
.profile__num .small {
  font-size: 24px;
  font-weight: 300;
  opacity: 0.6;
  margin: 0 3px;
}
.profile__stats {
  display: flex;
  margin-bottom: 32px;
}
.profile__stat {
  width: 20%;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}
.profile__stat:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.profile__desc {
  opacity: 0.6;
  margin-bottom: 5px;
}

.tokens__views {
  display: flex;
  align-items: center;
  background-color: #0a0e11;
}
.tokens__view {
  text-transform: uppercase;
  padding: 24px;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.tokens__view:hover {
  opacity: 0.8;
}
.tokens__view.active {
  opacity: 1;
}
.tokens__setting {
  position: relative;
  padding: 24px 24px 24px 34px;
}
.tokens__setting:first-of-type {
  margin-left: auto;
  margin-right: 24px;
}
.tokens__setting input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.tokens__setting label {
  opacity: 0.6;
  transition: opacity 0.3s;
}
.tokens__setting label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.tokens__setting label::after {
  content: "✓";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.tokens__setting input:checked + label {
  opacity: 1;
}
.tokens__setting input:checked + label::after {
  opacity: 1;
}
.tokens__setting input:hover + label::before {
  opacity: 0.9;
}
.tokens__categories {
  display: grid;
  background-color: #0a0e11;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  padding: 0 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.tokens__categories li {
  display: flex;
  justify-content: flex-end;
}
.tokens__categories li:first-child {
  justify-content: flex-start;
}
.tokens__categories button {
  text-transform: uppercase;
  padding: 24px 18px 24px 0;
  position: relative;
}
.tokens__categories button span {
  opacity: 0.6;
  transition: opacity 0.3s;
  pointer-events: none;
}
.tokens__categories button::before, .tokens__categories button::after {
  content: "";
  position: absolute;
  right: 0;
  top: 18px;
  border: 5px solid transparent;
  opacity: 0.6;
}
.tokens__categories button::after {
  border-bottom: 5px solid white;
}
.tokens__categories button::before {
  border-top: 5px solid white;
  top: auto;
  bottom: 19px;
}
.tokens__categories button:hover span {
  opacity: 0.8;
}
.tokens__categories button.top span, .tokens__categories button.bottom span {
  opacity: 1;
}
.tokens__categories button.top::after {
  opacity: 1;
}
.tokens__categories button.bottom::before {
  opacity: 1;
}
.tokens__categories button.grafic {
  padding-right: 0;
}
.tokens__categories button.grafic::before, .tokens__categories button.grafic::after {
  display: none;
}

.token__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  padding: 0 24px;
  background-color: rgba(255, 255, 255, 0.04);
  transition: background-color 0.3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  height: 75px;
  overflow: hidden;
}
.token__list:hover {
  background-color: rgba(255, 255, 255, 0.06);
}
.token__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 21px 16px 0;
  margin-right: -3px;
  text-transform: uppercase;
  opacity: 0.6;
}
.token__item.active {
  background-color: #0c0f11;
}
.token__desc {
  justify-content: flex-start;
  opacity: 1;
  min-width: 120px;
}
.token__tik {
  opacity: 0.6;
}
.token__img {
  float: left;
  margin-right: 24px;
}
.token__name {
  text-transform: capitalize;
}
.token__rewards {
  opacity: 1;
}
.token__rewards span {
  padding: 8px 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.07);
}
.token__change.positive {
  color: #03c213;
}
.token__grafic {
  opacity: 1;
  padding: 0;
  height: 73px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.token__grafic .show {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.token__grafic .show__btn {
  display: inline-block;
  text-transform: capitalize;
  padding: 8px 20px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  transform: translateX(15px);
  pointer-events: none;
}
.token__grafic span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: top 0.3s;
}
.token__grafic:hover .show__btn {
  opacity: 1;
}
.token__grafic:hover span {
  top: -5px;
}
.token__grafic .ct-point,
.token__grafic .ct-labels,
.token__grafic .ct-grids {
  display: none;
}
.token__grafic .ct-line {
  stroke-width: 2px;
  stroke: #d4d23f;
}
.token__balance {
  opacity: 1;
  color: #d4d23f;
}
.token__view {
  height: 0;
  overflow: hidden;
  transition: height 0.3s, padding-top 0.3s;
}
.token__view.active {
  padding-top: 24px;
  height: 395px;
}
.token__wrapper {
  display: flex;
  padding: 0 24px;
}
.token__curPrice {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 24px 0 0;
}
.token__curPrice div {
  color: white;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 5px;
}
.token__curChange {
  font-weight: 300;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: auto;
}
.token__curChange div {
  color: red;
  font-size: 24px;
  margin-bottom: 5px;
}
.token__curChange.positive div {
  color: #03c213;
}
.token__times {
  display: flex;
}
.token__times li:not(:last-child) {
  margin-right: 16px;
}
.token__times button {
  text-transform: uppercase;
  opacity: 0.6;
  position: relative;
  padding-bottom: 8px;
}
.token__times button::after {
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
}
.token__times button:hover {
  opacity: 0.8;
}
.token__times button.active {
  opacity: 1;
}
.token__times button.active::after {
  background-color: #fff;
}
.token__chart {
  height: 300px;
}
.token .apexcharts-tooltip {
  border: none !important;
  background-color: #0a0e11 !important;
  box-shadow: none;
  transition: all 0s;
  padding: 6px;
  text-align: center;
}
.token .apexcharts-tooltip .apexcharts-tooltip-title {
  border: none !important;
  background-color: #0a0e11 !important;
  text-align: center;
}
.token .apexcharts-tooltip .apexcharts-tooltip-marker {
  display: none;
}
.token .apexcharts-tooltip .apexcharts-tooltip-text,
.token .apexcharts-tooltip .apexcharts-tooltip-title {
  font-family: "Etica", sans-serif !important;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 1.2;
  margin-bottom: 0;
  width: 100%;
}
.token .apexcharts-xaxis-texts-g text,
.token .apexcharts-yaxis-texts-g text {
  fill: white !important;
}
.token .apexcharts-xaxis-texts-g text::before,
.token .apexcharts-yaxis-texts-g text::before {
  content: "$";
}
.token .apexcharts-xaxis-texts-g text:nth-child(even),
.token .apexcharts-yaxis-texts-g text:nth-child(even) {
  display: none;
}
.token .apexcharts-linecap {
  fill: white !important;
}
.token .apexcharts-tooltip-text-y-value,
.token .apexcharts-tooltip-text-goals-value,
.token .apexcharts-tooltip-text-z-value {
  font-weight: 400;
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
}
.token .apexcharts-tooltip-series-group {
  padding: 0;
}

.security__title {
  padding-top: 32px;
  margin-bottom: 64px;
}

.sort {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 16px;
  min-width: 700px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #0c0f11;
  box-shadow: 0px 0px 7px 8px rgba(10, 14, 17, 0.2);
  pointer-events: none;
  opacity: 0;
  transform: translateY(-24px);
  transition: opacity 0.3s, transform 0.3s;
}
.sort__title {
  text-transform: uppercase;
  margin-bottom: 16px;
}
.sort__list {
  display: flex;
  margin-bottom: 16px;
}
.sort__list li:not(:last-child) {
  margin-right: 24px;
}
.sort__btn {
  padding-left: 32px;
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
  transition: opacity 0.3s;
  opacity: 0.6;
}
.sort__btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 100%;
}
.sort__btn::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  transition: opacity 0.3s;
  opacity: 0;
}
.sort__btn.choosed {
  opacity: 1;
}
.sort__btn.choosed::after {
  opacity: 1;
}
.sort__btn:hover {
  opacity: 0.8;
}
.sort__check {
  position: relative;
}
.sort__check:not(:last-of-type) {
  margin-bottom: 16px;
}
.sort__check:hover label, .sort__check:hover label::before {
  opacity: 0.8;
}
.sort__check input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.sort__check label {
  padding-left: 32px;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.sort__check label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 4px;
}
.sort__check label::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/icons/tick.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
  opacity: 0;
}
.sort__check input:checked + label,
.sort__check input:checked + label::after {
  opacity: 1;
}

.search {
  width: 60px;
  overflow: hidden;
  display: none;
  transition: width 0.3s;
}
.search__btn {
  min-width: 60px;
  height: 60px;
  background-image: url(../img/icons/search.svg);
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.search__input {
  font-weight: 300;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  width: 100px;
}
.search__close {
  width: 60px;
  height: 60px;
  position: relative;
}
.search__close::after, .search__close::before {
  content: "";
  width: 16px;
  height: 1.5px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  transform: rotate(-45deg);
}
.search__close::after {
  transform: rotate(45deg);
}

.coins {
  padding: 0 60px;
  width: 100%;
}
.coins:hover .coins__arrow {
  pointer-events: inherit;
  opacity: 1;
}
.coins__item {
  padding: 12px 36px;
  position: relative;
}
.coins__item::before, .coins__item::after {
  content: "";
  height: 24px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.coins__item::after {
  left: 100%;
}
.coins__item:hover .coins__name {
  color: #03c213;
}
.coins__item:hover .coins__amount {
  color: rgba(255, 255, 255, 0.8);
}
.coins__item:hover .coins__line {
  opacity: 1;
}
.coins__name {
  font-size: 16px;
  margin-bottom: 4px;
  transition: color 0.3s;
}
.coins__amount {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s;
}
.coins__line {
  width: 100%;
  height: 2px;
  background-color: #03c213;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.coins__add {
  margin: 10px 16px;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s, border-color 0.3s;
}
.coins__add::before {
  content: "+";
  margin-right: 8px;
}
.coins__add:hover {
  background-color: #0a0e11;
  border-color: #0a0e11;
}
.coins__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.coins__arrow::before, .coins__arrow::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 7px;
  width: 12px;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.6);
  transform: rotate(45deg);
}
.coins__arrow::after {
  transform: rotate(-45deg);
  bottom: 18px;
}
.coins__arrow--prev {
  left: 16px;
}
.coins__arrow--next {
  right: 24px;
}
.coins__arrow--next::before {
  left: 11px;
  transform: rotate(-45deg);
}
.coins__arrow--next::after {
  left: 11px;
  transform: rotate(45deg);
}

.coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.coin__img {
  margin-bottom: 32px;
}
.coin__price {
  color: #d4d23f;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
}
.coin__price span {
  font-size: 64px;
  margin-right: 4px;
}
.coin__owned {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 32px;
}
.coin__owned span {
  margin: 0 4px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
}
.coin__btns {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 64px;
}
.coin__btns button:not(:last-child) {
  margin-right: 16px;
}
.coin__btn {
  max-width: 240px;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  border: 2px solid #d4d23f;
  border-radius: 32px;
  font-size: 18px;
  transition: background-color 0.3s;
}
.coin__btn:hover {
  background-color: #0a0e11;
}
.coin__exchange {
  width: 57px;
  height: 57px;
  border-radius: 100%;
  background-color: #d4d23f;
  background-image: url(../img/icons/exchange.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.coin__exchange:hover {
  opacity: 1;
}

.tabs {
  display: flex;
  padding: 0 16px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.tabs li.active .tabs__content {
  display: block;
}
.tabs li.active button {
  color: white;
}
.tabs li.active .line {
  opacity: 1;
}
.tabs li:not(:last-child) {
  margin-right: 16px;
}
.tabs button {
  font-weight: 300;
  letter-spacing: 1px;
  padding: 16px 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s;
}
.tabs button:hover {
  color: white;
}
.tabs .line {
  width: 100%;
  height: 2px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s;
}
.tabs__content {
  position: absolute;
  width: 100%;
  left: 0;
  display: none;
  padding: 32px 16px;
}
.tabs__empty {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  padding: 64px 0;
  opacity: 0.4;
}
.tabs__text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 16px;
}
.tabs__links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs__links li:not(:last-child) {
  margin-right: 16px;
}
.tabs__links a {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s;
}
.tabs__links a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.tabs__blog .videos__item {
  max-width: 200px;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 16px;
}
.videos__item {
  max-width: 300px;
  width: 100%;
  margin-bottom: 24px;
}
.videos__item:hover .videos__img {
  transform: scale(1.05);
}
.videos__img {
  width: 100%;
  margin-bottom: 8px;
  transition: transform 0.3s;
}

.wallet {
  margin: -32px -30px 0;
}
.wallet__menu {
  display: flex;
  width: 100%;
}
.wallet__menu > li {
  display: flex;
}
.wallet__menu > li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.wallet__types {
  position: relative;
}
.wallet__types.open .sort {
  pointer-events: inherit;
  opacity: 1;
  transform: translateY(0);
}
.wallet__types.open .wallet__open::before {
  transform: translateX(-50%) rotate(180deg);
}
.wallet__open {
  width: 60px;
  height: 60px;
  background-image: url(../img/icons/sort.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.wallet__open::before {
  content: "▲";
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 10px;
  transform: translateX(-50%);
  transition: transform 0.3s;
}
.wallet__search .wallet__open {
  background-image: url(../img/icons/search.svg);
  background-size: 35%;
}
.wallet__search .wallet__open::before {
  display: none;
}
.wallet__search.open .wallet__open {
  display: none;
}
.wallet__search.open .search {
  display: flex;
}
.wallet__list {
  width: calc(100% - 120px);
}
.wallet__chart {
  padding: 0 16px;
  overflow: hidden;
  height: 27px;
  transition: height 0.3s;
  margin-bottom: 32px;
}
.wallet__chart.opened {
  height: 430px;
}
.wallet__chart .apexcharts-tooltip {
  border: none !important;
  background-color: #0a0e11 !important;
  box-shadow: none;
  transition: all 0s;
  padding: 6px;
  text-align: center;
}
.wallet__chart .apexcharts-tooltip-title {
  border: none !important;
  background-color: #0a0e11 !important;
  text-align: center;
}
.wallet__chart .apexcharts-tooltip-marker {
  display: none;
}
.wallet__chart .apexcharts-tooltip-text,
.wallet__chart .apexcharts-tooltip-title {
  font-family: "Etica", sans-serif !important;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 1.2;
  margin-bottom: 0;
  width: 100%;
}
.wallet__chart .apexcharts-xaxis-texts-g text,
.wallet__chart .apexcharts-yaxis-texts-g text {
  fill: white !important;
}
.wallet__chart .apexcharts-xaxis-texts-g text::before,
.wallet__chart .apexcharts-yaxis-texts-g text::before {
  content: "$";
}
.wallet__chart .apexcharts-xaxis-texts-g text:nth-child(even),
.wallet__chart .apexcharts-yaxis-texts-g text:nth-child(even) {
  display: none;
}
.wallet__chart .apexcharts-linecap {
  fill: white !important;
}
.wallet__chart .apexcharts-tooltip-text-y-value,
.wallet__chart .apexcharts-tooltip-text-goals-value,
.wallet__chart .apexcharts-tooltip-text-z-value {
  font-weight: 400;
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
}
.wallet__chart .apexcharts-tooltip-series-group {
  padding: 0;
}
.wallet__title {
  position: relative;
  display: block;
  width: calc(100% + 32px);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  padding-bottom: 4px;
  margin: 0 -16px 16px;
  padding: 0 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: color 0.3s;
}
.wallet__title::after {
  content: "";
  width: 16px;
  height: 9px;
  background-image: url(../img/icons/arrow-down.svg);
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
.wallet__title:hover {
  color: white;
}
.wallet__title.opened::after {
  transform: translateY(-50%) rotate(180deg);
}

.exchange {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.exchange__inner {
  max-width: 600px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 32px;
}
.exchange__item {
  width: 100%;
  position: relative;
  padding: 48px 48px 48px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(10, 14, 17, 0.4);
}
.exchange__item:last-of-type {
  background-color: rgba(10, 14, 17, 0.8);
}
.exchange__balance {
  position: absolute;
  top: 14px;
  left: 32px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.exchange__choose {
  position: relative;
  padding: 8px 70px 8px 48px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 24px;
  transition: border-color 0.3s;
}
.exchange__choose img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 52px;
}
.exchange__choose::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s;
}
.exchange__choose:hover {
  border-color: white;
}
.exchange__choose:hover::before {
  opacity: 1;
}
.exchange__input {
  text-align: right;
  font-size: 24px;
  width: 100px;
}
.exchange__dollars {
  position: absolute;
  right: 48px;
  bottom: 24px;
}
.exchange__swap {
  width: 44px;
  height: 24px;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: #424242;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.exchange__swap::before, .exchange__swap::after {
  color: white;
  font-size: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.exchange__swap::before {
  content: "▲";
  top: 4px;
}
.exchange__swap::after {
  content: "▼";
  bottom: 4px;
}
.exchange__swap:hover {
  opacity: 1;
}
.exchange__parts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 600px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background-color: rgba(10, 14, 17, 0.4);
  margin-bottom: 32px;
}
.exchange__part {
  display: flex;
}
.exchange__part button {
  padding: 16px 32px;
  text-transform: uppercase;
  font-size: 16px;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.exchange__part button:hover {
  opacity: 1;
}
.exchange__submit {
  max-width: 600px;
  width: 100%;
  border-radius: 32px;
  background-image: linear-gradient(90deg, rgba(24, 132, 213, 0.5) 0%, rgba(115, 13, 166, 0.5) 100%);
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding: 16px 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
}
.exchange__submit.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.exchange__submit::after {
  content: "";
  width: 600px;
  height: 600px;
  position: absolute;
  left: 29px;
  top: 25px;
  transform: rotate(-5deg);
  background-color: rgba(255, 255, 255, 0.1);
}
.exchange__value {
  opacity: 0.6;
  font-weight: 300;
  letter-spacing: 1px;
}
.exchange__history {
  padding: 16px 32px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: 32px;
  bottom: 32px;
  font-size: 16px;
  transition: color 0.3s;
}
.exchange__history:hover {
  color: white;
}

.history {
  padding: 0 32px;
}
.history__back {
  font-size: 16px;
  padding-left: 24px;
  position: relative;
  opacity: 0.6;
  margin-bottom: 32px;
  transition: opacity 0.3s;
}
.history__back::before {
  content: "←";
  font-size: 28px;
  line-height: 1;
  font-weight: 300;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-52%);
}
.history__back:hover {
  opacity: 1;
}
.history__types {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  background-color: rgba(10, 14, 17, 0.4);
  margin-bottom: 32px;
}
.history__types li {
  padding: 20px 18px;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 300;
}
.history__empty {
  font-size: 20px;
  opacity: 0.6;
  text-align: center;
}

.devices {
  padding-top: 32px;
}
.devices__title {
  margin-bottom: 64px;
}

.personalize {
  display: flex;
  flex-direction: column;
}
.personalize__title {
  padding-top: 32px;
  margin-bottom: 32px;
}
.personalize__desc {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  max-width: 500px;
  margin: 0 auto 64px;
  opacity: 0.6;
  letter-spacing: 1px;
}
.personalize__btn {
  font-size: 16px;
  margin: 0 auto 64px;
}
.personalize__item {
  max-width: 900px;
  width: 100%;
}

.steps {
  display: flex;
  justify-content: center;
  margin: 32px auto 72px;
}
.steps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-right: 100px;
  margin-right: 10px;
}
.steps__item:last-child {
  margin-right: 0;
  padding-right: 0;
}
.steps__item:last-child .steps__line {
  display: none;
}
.steps__item::after {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #03c213;
  background-image: url(../img/icons/tick.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.steps__item.completed::after {
  opacity: 1;
}
.steps__item.current .steps__num {
  border-color: #03c213;
}
.steps__item.completed .steps__line::after {
  width: 100%;
}
.steps__num {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  margin-bottom: 8px;
  transition: border-color 0.3s;
}
.steps__text {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.6;
  position: absolute;
  top: 100%;
}
.steps__line {
  height: 3px;
  width: 90px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1.5px;
  position: absolute;
  top: 24px;
  right: 0;
}
.steps__line::after {
  content: "";
  border-radius: 1.5px;
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #03c213;
  transition: width 0.3s;
}

.backup {
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
}
.backup__inner {
  position: relative;
}
.backup__step {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.3s;
}
.backup__step.hidden {
  display: none;
}
.backup__title {
  margin-bottom: 32px;
  text-transform: capitalize;
}
.backup__text {
  text-align: center;
  font-weight: 300;
  opacity: 0.6;
  margin-bottom: 64px;
}
.backup__text--pink {
  color: #f700ff;
}
.backup__text a {
  text-decoration: underline;
}
.backup__warning {
  margin-top: 24px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.backup__warning a {
  margin-top: 4px;
  color: #f700ff;
  display: block;
  text-decoration: underline;
}
.backup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.backup__input {
  width: 100%;
  background-color: #424242;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 40px;
}
.backup__input::placeholder {
  font-weight: 300;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.backup__input:hover::placeholder {
  opacity: 1;
}
.backup__btns {
  display: flex;
  justify-content: center;
}
.backup__btn {
  max-width: 240px;
  width: 100%;
}
.backup__btn:not(:last-child) {
  margin-right: 24px;
}
.backup__phrase {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.backup__phrase li {
  width: calc((100% - 25px) / 6);
  margin-bottom: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  transition: transform 0.3s;
}
.backup__phrase li:hover {
  transform: translateY(8px);
}
.backup__phrase li:hover .backup__word {
  color: white;
}
.backup__word {
  color: transparent;
  padding-bottom: 8px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  transition: color 0.3s;
  user-select: none;
}
.backup__checklist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}
.backup__checklist li:not(:last-child) {
  margin-right: 16px;
}
.backup__checklist button {
  border-radius: 15px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(0, 0, 0, 0);
  transition: border-color 0.3s, background-color 0.3s;
}
.backup__checklist button:hover {
  border-color: #03c213;
}
.backup__checklist button.active {
  background-color: #03c213;
}